@model StudentManagement.Models.Student

@{
    ViewData["Title"] = "EditStudent";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditStudent</title>
</head>
<body>

    <h4>Student</h4>
    <hr />
    <h1 class="text-center" style="margin:40px">Student Information</h1>
        <form asp-controller="Student" asp-action="EditStudent" method="post">
            <div class="form-group">
                <label asp-for="@Model.id">StudentID</label>
                <input asp-for="@Model.id" type="text" readonly class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="@Model.fullname">Full Name</label>
                <input asp-for="@Model.fullname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="@Model.birth">Birthday</label>
                <input asp-for="@Model.birth" type="date" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="@Model.classname">Class</label>
                <input asp-for="@Model.classname" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="@Model.sex">Gender</label><br />
                <select name="gender" id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.gpa">GPA</label>
                <input asp-for="@Model.gpa" type="text" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
