@model StudentManagement.Models.Student

@{
    ViewData["Title"] = "EditStudent";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Student</title>
</head>
<body>

    <h4>Student</h4>
    <hr />
    <h1 class="text-center" style="margin:40px">Student Information</h1>
    <form asp-controller="Student" asp-action="UpdateStudent" method="post" onsubmit="return confirm('Are you sure you want to save changes?')" ;>
        <div class="form-group">
            <label asp-for="@Model.mssv">StudentID</label>
            <input asp-for="@Model.mssv" type="text" readonly class="form-control">

        </div>
        <div class="form-group">
            <label asp-for="@Model.fullname">Full Name</label>
            <input asp-for="@Model.fullname" type="text" class="form-control" required />
        </div>

        <div class="form-group">
            <label asp-for="@Model.classname">Class</label>
            <input asp-for="@Model.classname" type="text" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="@Model.sex">Gender</label><br />
            <select asp-for="@Model.sex" name="sex" id="sex" runat="server">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="@Model.gpa">GPA</label>
            <input asp-for="@Model.gpa" type="number" min="0" max="4" step ="0,01" class="form-control" />
        </div>
        <button type="reset" class="btn btn-light">Reset</button>
        <button type="submit" runat="server" class="btn btn-primary">Save</button>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
